.button {
    -fx-background-color: #00fff7;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-pref-width: 200px;
    -fx-padding: 10px 20px;

    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.button:hover {
    -fx-background-color: #00b3ad;
}

.button:pressed {
    -fx-background-color: #0fffff;
    -fx-translate-y: 2px;
}
